- id: '1511381851678'
  alias: Turn on aquarium lights
  trigger:
  - at: '12:00:00'
    platform: time
  condition: []
  action:
  - alias: Turn on room lights
    data:
      entity_id:
      - switch.aquarium_switch
    service: light.turn_on
- id: '1533134805298'
  alias: Turn off aquarium lights
  trigger:
  - at: '20:00:00'
    platform: time
  condition: []
  action:
  - data:
      entity_id:
      - switch.aquarium_switch
    service: light.turn_off
